body {
	background: #303030;
}

h1 {
	color: #CA7218;
	text-align: center;
}

h2 {
	color: #CA7218;
}

p1{
	margin-left: 9em;
}

p2 {
	margin-left: 46em;
}

p3 {
	margin-left: 16em;
	color: red;
}

p {
	text-align: center;
}

li {
	text-align: center;
	color: blue;
	font-size: medium;
}

#legend {
	color: red;
	font-size: x-large;
}

#fideldset {
	width: 30px;
	height: 30px;
}

#time {
	color: yellow;
	text-align: center;
	font-size: large;
}

#piecepuzzle {
	margin: 20px auto;
	width: 450px;
	background: rgba(20,20,20,0.8);
	box-shadow: 0px 0px 10px  2px #777;
	color: #ccc;
	padding: 20px;
	border-radius: 10px;
	overflow: hidden;
}

#piece{
	background: grey;
	width: 625px;
	height: 365px;
	float: left;
	margin-left: 10px;
	box-shadow: 0px 0px 10px  2px #d0eb6a;
}


.piece {
	width: 200px;
	height: 00px;
	float: left;
}

#piecepuzzle img {
	float: left;
	padding: 1px;
	width: 98px;
	height: 98px;
}

#puzzle {
	background: #d0eb6a;
	width: 625px;
	height: 365px;
	float: right;
	margin-right: 10px;
	box-shadow: 0px 0px 10px  2px #e7931a;
}